.my-card{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 0px !important;
    border-radius:7px;
}

.game-name{
    font-size: 14px;
    font-weight: 800;
    padding: 0px 10px;
}

.game-year{
    font-size: 14px;
    font-weight: 800;
    padding: 0px 10px;
    color: #fa591d;
}

.game-genre{
    font-size: 14px;
    font-weight: 800;
    padding: 0px 10px;
    color: rgba(49, 53, 59, 0.68);
}


