.register-form{
    width: 550px;
    background-color: azure;
    -webkit-box-shadow: 0px 4px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px -1px rgba(0,0,0,0.75);
    border-radius: 20px;
}

.register-MovieGame{
    font-size: 35px;
    font-weight: 600;
    text-align: left;
}

.sign-in-register{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.input-register{
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    border-radius: 7px;
}

.terms-privacy{
    margin-bottom: 15px;

}

.btn-register{
    width: 100%;
    align-self: center;
}

.google-register{
    width: 100%;
    margin-bottom: 10px;
    align-self: center;
}